
html {
    font-family:  Helvetica, arial, sans-serif;
}
body {
    display: grid;
    grid-template-areas:
     "header"
     "main"
     "footer";
    min-width: 1024px;
    padding: 0 5px;
    border: 1px;
    margin: 0 auto;
    font-size: 1.2em;
}

img {
    border-radius: 5px;
}


h1 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 34px;
    margin-top: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}

h1::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 200px;
    height: 4px;
    background: radial-gradient(#cddc39, #fff);
    transform: skewX(-12deg) translateX(-50%);
}

h2 {
    font-size: 24px;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
}


:root {
    --primary-color:#ed4190;
    --primary-color-rgba:rgba(238, 75, 43, 0.2);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ccc7c8;
}

.main {
    border: 1px solid var(--border-color);
    padding: 0 5px;
    background-color: var(--white-color);
    border-radius: 5px;
}
/* Header start */
.header {
    display: grid;
    grid-template-areas: 
    "logo"
    "..."
    "nav";
    height: 100px;
    grid-area: header;
    position: relative;
    background-image: url("/data/images/header.png");
    margin-bottom: 2px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 5px;
}

.header__logo {
    grid-area: logo;
    margin: 0 4px;
    border-radius: 5px;
}


@keyframes img1 {
    0% {
        left: 80%;
    }
    100% {
        left: 30%;
    }  
}
.header__img1 {
    height: 100px;
    position: absolute;
    top: -30px;
    left: 30%;
    z-index: 1;
    animation: img1 ease 3s;
}

@keyframes img2 {
    0% {
        left: 80%;
    }
    100% {
        left: 45%;
    }  
}
.header__img2 {
    height: 70px;
    position: absolute;
    top: -5px;
    left: 45%;
    z-index: 1;
    animation: img2 ease 3s;
}

@keyframes img3 {
    0% {
        left: 80%;
    }
    100% {
        left: 63%;
    }  
}
.header__img3 {
    height: 80px;
    position: absolute;
    top: 0;
    left: 63%;
    animation: img3 ease 3s;
    z-index: 1;
}
/* Navigation */

.header__nav-container {
    grid-area: nav;
    height: 20px;
    display: flex;
    justify-content: space-between;
}


.header__nav-item-link:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.header__nav-item-link {
    height: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 17px;
    margin: 3px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 2px 4px;
    background-color: #ffffff80;
    box-shadow: 0 0 3px 0 #00000066;
    box-shadow: 0 0 2px 0 #0000004d;
}


.header__nav-search {
    align-self: center;
}

.header__nav-search-icon {
    text-align: center;
    min-width: 30px;
    background-color: #cddc39;
    padding: 4px 4px;
    color: #fff;
}

.header__nav-search-icon:hover {
    cursor: pointer;
}

.header__nav-search-icon--cart {
    color: var(--primary-color);
}

.header__nav-search-input {
    padding: 2px 4px;
} 

/* Header end */

/* Footer start */
.footer {
    grid-area: footer;
    position: relative;
    color: #000;
    margin-top: 2px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
}

.footer p i {
    color: var(--primary-color);
}

.footer__up {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 4px;
    /* padding: 8px; */
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--primary-color);

}

/* Footer end */
/* Main Trang chu */
.main-one-col {
    grid-area: main;
    grid-template-areas:
     "main__product"
     "main__recipe"
     "main__order";
    display: grid;
    border: 1px solid var(--border-color);
    padding: 0 5px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.main__product, .main__order {
    margin: 2px;
    padding: 5px;
    color: #000;
}

.main__product-container-new {
    display: grid;
    grid-template-columns: 30% 69%;
}

.main__product-container-new > img {
    border-radius: 5px;
}

.main__product-container-video {
    display: grid;
    grid-template-columns: 69% 30%;
}

.main__product-descr {
    text-align: justify;
    padding: 0 5px;
    margin: 0 0 5px 0;
}

.main__product-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main__recipe-container {
    display: grid;
    grid-template-columns: auto auto;
}

.main__recipe-resource  ol {
    list-style-type: inherit;
}



.main__order-container {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    justify-content: space-between;
    
}

.main__order-item {
    display: flex;
    justify-content: center;
    min-width: 24%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-top: 5px;
}

.main__order-item > div {
    width: 100px;
    padding: 4px 20px 20px 20px;
    margin: 4px 40px 4px 40px;
    display: flex;
    flex-direction: column;
}

.main__order-titile {
    margin-top: 20px;
}

/* Main trang chu ket thuc */

/* Main Trang gioi thieu */

.main-two-col {
    display: grid;
    border: 1px solid var(--border-color);
    padding: 0 5px;
    background-color: var(--white-color);
    border-radius: 5px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "content aside";
}

.main__content-header {
    display: flex;
    justify-content: center;
}

.main__content {
    grid-area: content;
}

.main__aside {
    margin: 0 24px;
    grid-area: aside;
}

.main__content-descr,
.main__aside-descr {
    text-align: justify;
    padding: 0 5px;
    margin: 0 0 5px 0;
}

.main_aside-header {
    text-align: center;
}

.main__content-story > img {
    border-radius: 5px;
}
/* Main trang liên hệ */
.main__form {
    display: grid;
    justify-items: center;
    margin-bottom: 4px;
}

.main__form-container {
    list-style: none;
    margin: 0;
}

.main__form-icon,
.main__contact-icon {
    text-align: center;
    min-width: 30px;
    background-color: #cddc39;
    padding: 4px 4px;
    color: #fff;
}

.main__form-item {
    margin-top: 1px;
}

.main__contact-header {
    display: flex;
    justify-content: center;
}

/* Main trang sản phẩm */
.main__products-container {
     list-style: none;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     padding: 0;
     margin: 0;    
}

.main__products-item {
    display: grid;
    /* flex-direction: column; */
    justify-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 3px;
    line-height: 2;
    text-align: justify;
}

.main__products-descr {
    margin: 0 8px;
}

.main__products-original,
.main__products-new,
.main__products-tropic {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0;
}

.main__prodcts-order-box {
    display: flex;
    padding: 14px 0;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(203,219,56,1), rgba(203,219,56,0.1));
}


/* Main trang tin tuc */
.main-two-col-left {
    display: grid;
    border: 1px solid var(--border-color);
    padding: 0 5px;
    background-color: var(--white-color);
    border-radius: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "aside-left content-right";
    justify-content: center;
    justify-items: center;
}

.main__aside-left {
    grid-area: aside-left;
    margin: 0 10px;
    padding: 0 20px;
}

.main__aside-left p {
    font-size: 1.2em;
    text-align: justify;
}

.main__content-right {
    grid-area: content-right;
}

.main__content-news-descr {
    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
}

.main__content-news-descr > p {
    margin: 0 8px;
    font-size: 1.2em;
}
/* Main trang đăng ký */
.main--registration {
    margin-top: 100px;
}

.main--registration .main__form {
    padding: 20px;
}

.main__form-policy{
    margin: 0;
}
.main__form-policy > a {
    color: blue;
}